* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Raleway", sans-serif;
}

.container {
  width: 100%;
  padding-right: 20px;
  padding-left: 20px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 576px) {
  .container {
    width: 540px;
  }
}
@media (min-width: 768px) {
  .container {
    width: 720px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 960px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1140px;
  }
}
@media (min-width: 1400px) {
  .container {
    width: 1320px;
  }
}
header {
  padding-top: 2vh;
  padding-bottom: 2vh;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  transition: 0.5s;
  z-index: 3;
  background: transparent;
}
header .container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
header .container .brand {
  width: 50%;
  display: flex;
  align-items: center;
}
header .container .brand img {
  width: 80px;
}
header .container .brand h1 {
  margin-left: 10px;
  font-size: 1.6rem;
  color: #1e2e5d;
  flex: 1;
}
header .container .brand h1 span {
  color: #127a64;
}
header .container nav {
  flex: 1;
}
header .container nav ul {
  display: flex;
  flex-direction: row;
  list-style: none;
  justify-content: flex-end;
  align-items: center;
}
header .container nav ul li {
  color: #1e2e5d;
  margin-right: 3%;
  margin-left: 3%;
}
header .container nav ul li a {
  color: #ebf7dd;
  font-weight: 700;
  font-size: 18px;
  text-decoration: none;
  transition: 0.5s;
}
header .container nav ul li a:hover, header .container nav ul li a.active {
  color: #127a64;
}

footer {
  font-size: 1.2rem;
  background: #1e2e5d;
  display: flex;
  flex-direction: column;
  color: #ebf7dd;
  align-items: center;
  padding-top: 2.5vh;
}
footer img {
  width: 150px;
  margin-bottom: 15px;
}
footer ul {
  margin-bottom: 15px;
  display: flex;
  flex-direction: row;
  list-style: none;
}
footer ul li {
  margin-right: 15px;
  margin-left: 15px;
  position: relative;
}
footer ul li:not(:last-of-type)::after {
  content: "";
  width: 2px;
  height: 100%;
  position: absolute;
  background: #ebf7dd;
  left: calc(100% + 15px);
}
footer ul li a {
  color: #ebf7dd;
  text-decoration: none;
  font-weight: 600;
  transition: 0.5s;
}
footer ul li a:hover, footer ul li a.active {
  color: #127a64;
}
footer .contact {
  display: flex;
  margin-bottom: 15px;
}
footer .contact .item {
  margin-left: 25px;
  margin-right: 25px;
  text-decoration: none;
  color: #ebf7dd;
  transition: 0.5s;
}
footer .contact .item i {
  color: #127a64;
  background: rgba(103, 181, 57, 0.3);
  width: 35px;
  height: 35px;
  border-radius: 35px;
  text-align: center;
  padding-top: 7px;
}
footer .contact .item:hover {
  color: #127a64;
}
footer .copyright {
  background: #010016;
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
}
footer .copyright .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
footer .copyright .container .follow-us {
  display: flex;
  flex-direction: row;
  align-items: center;
}
footer .copyright .container .follow-us span {
  margin-right: 10px;
}
footer .copyright .container .follow-us a {
  text-decoration: none;
  color: #ebf7dd;
  margin-right: 2px;
  margin-left: 2px;
  transition: 0.5s;
}
footer .copyright .container .follow-us a i {
  border: 1px solid #ebf7dd;
  width: 35px;
  height: 35px;
  border-radius: 35px;
  text-align: center;
  padding-top: 7px;
  transition: 0.5s;
}
footer .copyright .container .follow-us a:hover {
  color: #010016;
}
footer .copyright .container .follow-us a:hover i {
  background: #ebf7dd;
}

.home main {
  background: url("../images/bg.jpg");
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  position: relative;
}
.home main .overlay {
  position: absolute; /* Sit on top of the page content */
  display: block; /* Hidden by default */
  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #010016; /* Black background with opacity */
  opacity: 0.9;
  z-index: 1; /* Specify a stack order in case you're using a different order for other elements */
}
.home main h2 {
  margin: 0;
  font-weight: 900;
  font-size: 4rem;
  color: #1e2e5d;
  text-align: center;
  z-index: 2;
}
.home main h2 span {
  color: #127a64;
}
.home main p {
  margin-top: 10px;
}
.home main p:first-of-type {
  color: #127a64;
  letter-spacing: 2px;
  font-weight: 600;
}
.home main p:nth-of-type(2) {
  color: #1e2e5d;
  width: 50%;
  text-align: center;
}
.home main p:last-of-type {
  font-weight: 500;
}
.home main a {
  text-decoration: none;
  color: #ebf7dd;
  background: #127a64;
  padding: 15px 30px;
  margin-top: 20px;
  font-weight: 600;
  border-radius: 5px;
  transition: 0.5s;
}
.home main a:hover {
  background: #1e2e5d;
  color: #127a64;
}
.home > .club-goals {
  padding-top: 40px;
  padding-bottom: 40px;
}
.home > .club-goals .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  text-transform: uppercase;
}
.home > .club-goals .container h3 {
  font-size: 2.5rem;
  font-weight: 800;
  color: #127a64;
  margin-bottom: 20px;
}
.home > .club-goals .container p {
  font-size: 1.5rem;
  text-align: center;
  font-weight: 600;
  width: 70%;
  margin-bottom: 20px;
  color: #1e2e5d;
  text-transform: uppercase;
}
.home > .club-goals .container .links {
  display: flex;
  flex-direction: column;
}
.home > .club-goals .container .links a {
  text-decoration: none;
  color: #1e2e5d;
  font-size: 1.2rem;
  font-weight: 500;
  text-align: center;
  border: 2px solid #1e2e5d;
  padding: 7px 15px;
  margin-top: 10px;
  margin-bottom: 10px;
  transition: 0.5s;
  text-transform: uppercase;
}
.home > .club-goals .container .links a:hover {
  background: #127a64;
  border-color: #127a64;
  color: #ebf7dd;
}

body.aboutus main {
  background: url("../images/bg.jpg");
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  position: relative;
}
body.aboutus main .overlay {
  position: absolute; /* Sit on top of the page content */
  display: block; /* Hidden by default */
  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #010016; /* Black background with opacity */
  opacity: 0.9;
  z-index: 1; /* Specify a stack order in case you're using a different order for other elements */
}
body.aboutus main h2 {
  margin: 0;
  font-weight: 900;
  font-size: 4rem;
  color: #1e2e5d;
  text-align: center;
  z-index: 2;
}
body.aboutus main h2 span {
  color: #127a64;
}
body.aboutus main p {
  margin-top: 10px;
}
body.aboutus main p:first-of-type {
  color: #127a64;
  letter-spacing: 2px;
  font-weight: 600;
}
body.aboutus main p:nth-of-type(2) {
  color: #1e2e5d;
  width: 50%;
  text-align: center;
}
body.aboutus main p:last-of-type {
  font-weight: 500;
}
body.aboutus main a {
  text-decoration: none;
  color: #ebf7dd;
  background: #127a64;
  padding: 15px 30px;
  margin-top: 20px;
  font-weight: 600;
  border-radius: 5px;
  transition: 0.5s;
}
body.aboutus main a:hover {
  background: #1e2e5d;
  color: #127a64;
}
body.aboutus > .about {
  padding-top: 40px;
  padding-bottom: 40px;
}
body.aboutus > .about .container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: 100%;
}
body.aboutus > .about .container .vision, body.aboutus > .about .container .mission {
  width: 50%;
}
body.aboutus > .about .container h3 {
  font-size: 2.5rem;
  font-weight: 800;
  color: #127a64;
  margin-bottom: 20px;
  text-transform: uppercase;
}
body.aboutus > .about .container p {
  font-size: 1.3rem;
  font-weight: 600;
  margin-bottom: 20px;
  color: #1e2e5d;
  position: relative;
  padding-left: 10px;
}
body.aboutus > .about .container p::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background: #127a64;
  height: 100%;
  width: 5px;
  border-radius: 20px;
}/*# sourceMappingURL=main.css.map */